NODE_ENV=development
PORT=4000
DATABASE_HOST=127.0.0.1
DATABASE_PORT=55433
DATABASE_USER=postgres
DATABASE_PASSWORD=replace_me
DATABASE_NAME=production_events
TEST_DATABASE_URL=postgresql://postgres:replace_me@127.0.0.1:55433/production_events_test
CORS_ORIGIN=http://localhost:3001,http://127.0.0.1:3001
MQTT_ENABLED=true
MQTT_BROKER_URL=mqtt://152.42.238.142:1883
MQTT_CANDIDATE_ID=07
MQTT_HEARTBEAT_MS=30000
